<div id="compoent">
    <app-head [pageTitle]="pageTitle"></app-head>

    <main id="main">
        <table class="table table-sm" *ngIf="empl">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td><input [(ngModel)]="empl.id" type="number" disabled></td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td><input [(ngModel)]="empl.name" type="text" [disabled]="IsDetailPage"></td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><input [(ngModel)]="empl.email" type="text" [disabled]="IsDetailPage" size="40"></td>
                </tr>
                <tr>
                    <th>Admin</th>
                    <td><input [(ngModel)]="empl.admin" type="checkbox" [disabled]="IsDetailPage"></td>
                </tr>
                <tr>
                    <th>Expenses Due</th>
                    <td><input [(ngModel)]="empl.expensesDue" type="number" disabled></td>
                </tr>
                <tr>
                    <th>Expenses Paid</th>
                    <td><input [(ngModel)]="empl.expensesPaid" type="number" disabled></td>
                </tr>
            </tbody>
        </table>
        <div>
            <button (click)="remove()" class="btn btn-danger">Delete</button>
            <span *ngIf="showVerifyButton"> |
                <button (click)="verifyDelete()" class="btn btn-danger">Verify Delete</button>
            </span>
        </div>
    </main>

    <!-- <app-foot></app-foot> -->
</div>