<div id="compoent">
    <app-head [pageTitle]="pageTitle"></app-head>

    <main id="main">
        <a routerLink="/empl/create">Create New</a>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Admin</th>
                    <th>Expenses Due</th>
                    <th>Expenses Paid</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of empls">
                    <td>{{e.id}}</td>
                    <td>{{e.name}}</td>
                    <td>{{e.email}}</td>
                    <td>{{e.admin}}</td>
                    <td>{{e.expensesDue | currency}}</td>
                    <td>{{e.expensesPaid | currency}}</td>
                    <td>
                        <a routerLink="/empl/detail/{{e.id}}">Details</a> |
                        <a routerLink="/empl/change/{{e.id}}">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <!-- <app-foot></app-foot> -->
</div>